/* Center align the heading */
h1 {
  text-align: center;
}

.translation-output label {
  display: block;
  text-align: center;
}

/* Center align the select2 container */
.select2-container {
  margin: 0 auto;
  text-align: center;
  min-width: 180px
}
/* Style the select2 dropdown */
.select2-container--default .select2-selection--single {
  width: 90%; /* adjust the width to make dropdown options visible */
  height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 34px;
}

/* Style the select2 options */
.select2-container--default .select2-results__option {
  padding: 6px;
}

/* Center align the select2 options list */
.select2-container--default .select2-results__options {
  text-align: center;
}

/* Center align the database words section */
.database-words {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style each translation */
.translation {
  margin-bottom: 10px;
  text-align: center;
}

/* Style the language and translation text */
.translation-lang {
  font-weight: bold;
  text-transform: capitalize;
}

.translation-text {
  margin-left: 5px;
}
