<!doctype html>
<html>
  <head>
    <title>Translation Service</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Translation App</h1>
    <form method="POST">
      <label for="word">Word:</label>
      <input type="text" id="word" name="word"><br>
      <p>Total Words: {{ word_count }}</p>
      <br>
      <button type="submit" class="btn btn-primary">Translate!</button>
    </form>
    <br>
    {% if translation %}
      {% if translation is string %}
        {{ translation }}
      {% else %}
        <div class="translation-output">
          <label for="word">Translations for "{{ word }}":</label>
          <br>
          {% for lang in languages %}
            {% if lang in translation %}
              <div class="translation">
                <span class="translation-lang">{{ lang }}:</span>
                <span class="translation-text">{{ translation[lang] }}</span>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% endif %}
  </body>
</html>
